{% extends 'widgets/widget_template.html' %}
{% load custom_template %}
{% block custom_title_prop %}{% if title_logo %}style="background-size: auto 60%; background-position: 50%;
background-repeat: no-repeat; background-image: url('/app_resource/{{ title_logo }}');"{% endif %}{% endblock %}
{% block widget_content %}
<style>
    .widget-container {
        width: 1170px !important;
        height: 600px;
    }

    .c-app-run-widget {
        height: 680px;
        width: 100%;
        position: relative;
    }

    .rl-table {
        line-break: auto;
    }

    .rl-table thead th {
        text-align: center;
        font-size: 1.4rem;
    }

    .rl-table td {
        padding: 7px;
    }

    .rl-content {
        display: flex;
        flex-direction: column;
    }

    #rl-target {
        padding-top: 0.5rem;
        text-transform: initial;
        font-size: 1.4rem;
        font-weight: bold;
        -moz-user-select: text;
        -khtml-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    .rl-table td:first-child {
        color: #6c818b;
        text-transform: uppercase;
        font-weight: 500;
        white-space: nowrap;
        padding-left: 0.8rem;
        padding-right: 2rem;
        width: 11%;
    }
</style>
<div class="rl-content">
    {% if data == None %}
    There is no rl object in the response JSON.
    {% else %}
    <table class="rl-table">
        <thead>
            <tr>
                <th colspan="2">ReversingLabs A1000 Submitted URL Status
                    <div id="rl-target" class="main-grid">task id: {{param.task_id}}</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Status</td>
                <td>{{data.processing_status}}</td>
            </tr>
            <tr>
                <td>Message</td>
                <td>{{data.message}}</td>
            </tr>
            {% if data.report.sample_summary != None %}
            <tr>
                <td>SHA1</td>
                <td>{{data.report.sample_summary.sha1}}</td>
            </tr>
            <tr>
                <td>SHA256</td>
                <td>{{data.report.sample_summary.sha256}}</td>
            </tr>
            <tr>
                <td>SHA512</td>
                <td>{{data.report.sample_summary.sha512}}</td>
            </tr>
            <tr>
                <td>File Type</td>
                <td>{{data.report.sample_summary.file_type}}</td>
            </tr>
            <tr>
                <td>File Subtype</td>
                <td>{{data.report.sample_summary.file_subtype}}</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>{{data.report.category}}</td>
            </tr>
            <tr>
                <td>Classification</td>
                <td>
                    <span style="color:{{classification_color}};">{{classification }}</span>
                </td>
            </tr>
            <tr>
                <td>Classification Origin</td>
                <td>{{data.report.sample_summary.classification_origin}}</td>
            </tr>
            <tr>
                <td>Classification Reason</td>
                <td>{{data.report.sample_summary.classification_reason}}</td>
            </tr>
            <tr>
                <td>Classification Result</td>
                <td>{{data.report.sample_summary.classification_result}}</td>
            </tr>
            <tr>
                <td>Classificaiton Source</td>
                <td>{{data.report.sample_summary.classification_source}}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}